body{
    width: 100%;
}
#viz {
    display: block;
    width: 70%;
    margin: auto;
}
#globeContainer {
    display : block;
}


#map svg{
    display: flex;
    margin: auto;
    
}
#lineGraph svg{
    display: flex;
    margin: auto;
    
}