body{
    width: 100%;
}
#viz {
    display: block;
    width: 70%;
    margin: auto;
}
#globeContainer {
    display : block;
}
#body 
{
    background-color: white;
}

#diagram2 {
    display: flex;
}

#map svg{
    display: flex;
    margin: auto;
    
}
#lineGraph svg{
    display: flex;
    margin: auto;
    
}

.radarChart svg, #treemap svg {
    display: flex;
    margin: auto;
}