body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

#chart {
    width: 100%;
}

.tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    border-radius: 5px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

footer {
    margin: 0;
    padding: 10;
    text-align: center;
    background-color: #f4f4f4;
}